{% extends "layout.html" %} 
{% block body %}
<div class="header">
    <h1>U.C. Companion</h1>
    <h2>Leaders Building Leaders 2015</h2>
</div>

<div class="content">
    <h2 class="content-subhead">Login</h2>
    <p class="login">
        <a href="/auth/twitter" title="Login with Twitter"><i class="fa fa-twitter fa-fw"></i></a>
        <a href="/auth/facebook" title="Login with Facebook"><i class="fa fa-facebook fa-fw"></i></a>
        <a href="/auth/google" title="Login with Google"><i class="fa fa-google fa-fw"></i></a>
    </p>
</div>
{% endblock %}